style
  include ../../public/stylesheets/dashboard/includes/aside.css
.dash-aside
  .card.p-0.border-0
    .card-content
      div
        a(href="/dashboard") 
          button(class=url === "/dashboard" ? "active" : "")
            span
              i.fa.fa-home
            span.item-text Dashboard
      div
        a(href="/dashboard/private-notes") 
          button(class=url === "/dashboard/private-notes" ? "active" : "")
            span
              i.fa.fa-lock
            span.item-text Private Notes
      div
        a(href="/dashboard/public-notes") 
          button(class=url === "/dashboard/public-notes" ? "active" : "")
            span
              i.fa.fa-globe
            span.item-text Public Notes
      div
        a(href="/dashboard/quick-notes") 
          button(class=url === "/dashboard/quick-notes" ? "active" : "")
            span
              i.fa.fa-edit
            span.item-text Quick Notes
      div
        a(href="/dashboard/collections") 
          button(class=url === "/dashboard/collections" ? "active" : "")
            span
              i.fa.fa-folder-open
            span.item-text Collections
      div
        a(href="/dashboard/earning") 
          button(class=url === "/dashboard/earning" ? "active" : "")
            span
              i.fa.fa-money-bill-wave
            span.item-text Earnings