doctype html
html(lang="en")
    head
        //- main meta's
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description",content=`${(collection.description)}`)
        meta(name="keyword",content=`<collection tags>`)
        title #{collection.name} | Notes ocean
        link(rel="canonical",href=`https://notesocean.com/collection/${(collection.id)}`)

        //-  og 
        meta(property='og:title' content=`${(collection.name)}`)
        meta(property='og:site_name' content='Notes ocean')
        meta(property='og:url' content=`https://notesocean.com/collection/${(collection.id)}`)
        meta(property='og:description' content=`${(collection.description)}`)
        meta(property='og:type' content='product.item')
        meta(property='og:image' content=`${(collection.thumbnails.replace("https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com","https://thumbnails.ncdn.in/fit-in/250x250/filters:format(webp)/filters:quality(100)"))}`)

        //- twitter card
        meta(name='twitter:card' content='summary')
        meta(name='twitter:site' content='@real_notesocean')
        meta(name='twitter:title' content=`${(collection.name)}`)
        meta(name='twitter:description' content=`${(collection.description)}`)
        meta(name='twitter:image' content=`${(collection.thumbnails .replace("https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com","https://thumbnails.ncdn.in/fit-in/250x250/filters:format(webp)/filters:quality(100)"))}`)
        //- schema.org
        include includes/bootstrap
        style
            include ../public/stylesheets/subpages/collection.css
        //- schema notes breadcumb

        //json ld

        script(type="application/ld+json").
            {
            "@context": "https://schema.org/", 
            "@type": "BreadcrumbList", 
            "itemListElement": [
                #{jsonld}
            ]
            }

    body 
        header 
            include includes/navbar
        section.main-section
            .collection-info-container.text-center
                h1.mt-5.collection-title=collection.name
                p.mt-3.collection-description=collection.description
                p 
                    i.fa.fa-book.mx-1
                    span=collection.products.length 
                    span.mx-1 notes

            div.px-3
                h3 Notes
            .row.public-now-row.mx-1
                -for (var i = 0;i<collection.products.length;i++){
                    -var product_id = collection.products[i].id;
                    -var product_name = collection.products[i].name;
                    - var product_thumbnails = collection.products[i].thumbnails.split(",")[0];
                    - var product_views = collection.products[i].views;
                    - var product_pages = collection.products[i].pages;
                    - var product_timestamp = collection.products[i].timestamp;
                    - var product_actual_time = timeService.get(product_timestamp);
                .col-md-3.my-2
                    a(href=`/notes/${(product_id)}`)
                        .card.shadow.border-0.rounded.h-100.wow.animate__animated.animate__fadeInUp.public-notes-item
                            .card-header.border-0.bg-white
                                p.card-title=product_name
                            .card-body
                                img.card-img-top.notes-thumbnails(src=product_thumbnails)
                            .card-footer.border-0.bg-white
                                .row
                                    .col-12
                                        //- p.card-title Lorem, ipsum dolor sit ametssdgdg
                                        p.card-text.notes-details-text
                                            span
                                                i.fa.fa-globe.mx-1
                                                small=product_views
                                                    span.mx-1 views
                                            span.mx-1
                                                i.fa.fa-file.mx-1 
                                                small=product_pages
                                                    span.mx-1 Pages
                                            span.mx-1
                                                i.fa.fa-clock-o.mx-1
                                                small=product_actual_time

                -}

                //- .col-md-3.my-2
                //-     a(href="/notes/")
                //-         .card.shadow.border-0.rounded.h-100.wow.animate__animated.animate__fadeInUp.public-notes-item
                //-             .card-header.border-0.bg-white
                //-                 p.card-title Lorem ipsum dolor sit amet.
                //-             .card-body.border-0(style=`background-image:url(https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/109/1646982826920_5055_0.png);background-size:cover`).notes-thumbnails
                //-             .card-footer.border-0.bg-white
                //-                 .row
                //-                     .col-12
                //-                         //- p.card-title Lorem, ipsum dolor sit ametssdgdg 
                //-                         p.card-text.notes-details-text
                //-                             span
                //-                                 i.fa.fa-globe.mx-1
                //-                                 small 100 views
                //-                             span.mx-1
                //-                                 i.fa.fa-file.mx-1 
                //-                                 small 10 pages
                //-                             span.mx-1
                //-                                 i.fa.fa-clock-o.mx-1
                //-  
        include includes/footer                               
        script
            include ../public/javascripts/common.js  
        script(src="/vendors/wow/wow.min.js")
        script.
            new WOW().init();
        script 
            include ../public/javascripts/subpages/collection.js



