doctype html
html(lang="en-US")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{profile.firstName} #{profile.lastName} | View profile on notes ocean
        meta(name="keywords",content=`${profile.firstName} ${profile.lastName},${profile.firstName} ${profile.lastName} notes, ${profile.firstName} ${profile.lastName} notes ocean , ${profile.firstName} ${profile.lastName} profile page, ${profile.firstName} ${profile.lastName} collections ,${profile.firstName} ${profile.lastName} pdf download, ${profile.firstName} ${profile.lastName} notes and collection pdf `)
        include includes/bootstrap
        meta(property='og:title', content=`${(profile.firstName)} ${(profile.lastName)}`)
        meta(property='og:site_name' content='Notes Ocean')
        meta(property='og:url' content=`https://notesocean.com/profile/${(profile.id)}`)
        meta(property='og:description' content=`View recent,top notes and collection of ${(profile.firstName)} ${(profile.lastName)} from notes ocean `)
        meta(property='og:type' content='profile')
        meta(property='og:image' content=`${(profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/100x100/filters:format(webp)/filters:quality(100)"))}`)
        meta(name='twitter:card' content='summary')
        meta(name='twitter:site' content='@real_notesocean')
        meta(name='twitter:title' content=`${(profile.firstName)} ${(profile.lastName)}`)
        meta(name='twitter:description' content=`View recent,top notes and collection of ${(profile.firstName)} ${(profile.lastName)} rom notes ocean`)
        meta(name='twitter:image' content=`${(profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/100x100/filters:format(webp)/filters:quality(100)"))}`)

        script(type='application/ld+json').
            {
                "@context": "https://schema.org/",
                "@type": "Person",
                "name": "#{profile.firstName} #{profile.lastName}",
                "url": "https://notesocean.com/profile/#{profile.id}",
                "image": "#{profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/100x100/filters:format(webp)/filters:quality(100)")}" ,
                "jobTitle": "user",
                "worksFor": {
                "@type": "Organization",
                "name": "Notes ocean"
                }
            }
        style
            include ../public/stylesheets/subpages/profile.css

    body 
        header 
            include includes/navbar
        section
            .container.my-5
                div.d-flex.justify-content-center.align-items-center
                    img(src=profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/250x250/filters:format(webp)/filters:quality(100)"), alt=`${(profile.firstName)} ${(profile.lastName)}`,width="200px" height="200px").profile-image
                div.my-3
                    center
                        h1 #{profile.firstName} #{profile.lastName}
                        //- small 
                        //-     i.fa.fa-book.mx-1
                        //-     span Notes 100
                        //- br
                        //- small
                        //-     i.fa.fa-database.mx-1 
                        //-     span Collections 10
            .container-fluid.content-box.mt-3
                ul#pills-tab.nav.nav-pills.mb-3(role='tablist').d-flex.justify-content-center.mt-2
                    li.nav-item(role='presentation')
                        button#pills-notes-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-notes' type='button' role='tab' aria-controls='pills-notes' aria-selected='true') Notes
                    li.nav-item(role='presentation')
                        button#pills-collection-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-collection' type='button' role='tab' aria-controls='pills-collection' aria-selected='false') Collections
                #pills-tabContent.tab-content
                    #pills-notes.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-notes-tab') 
                        //-  show users notes 
                        .row.public-now-row
                            h1.text-center.mt-5.notes-loader
                                i.fa.fa-spinner.fa-spin
                            h5.text-center.mt-5.no-public-notes.d-none
                                i.fa.fa-info-circle.mx-1.text-warning
                                span No Public Notes Uploaded By User
                            //- .col-md-3.my-2
                            //-     a(href="/notes/")
                            //-         .card.shadow.border-0.rounded.h-100.wow.animate__animated.animate__fadeInUp.public-notes-item(data-id)
                            //-             .card-header.border-0
                            //-                 p.card-title Lorem ipsum dolor sit amet.
                            //-             img.card-img-top(src="https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png")
                            //-             .card-footer.border-0
                            //-                 .row
                            //-                     .col-12
                            //-                         //- p.card-title Lorem, ipsum dolor sit ametssdgdg 
                            //-                         p.card-text.notes-details-text
                            //-                             span
                            //-                                 i.fa.fa-globe.mx-1
                            //-                                 small 100 views
                            //-                             span.mx-1
                            //-                                 i.fa.fa-file.mx-1 
                            //-                                 small 10 pages
                            //-                             span.mx-1
                            //-                                 i.fa.fa-clock-o.mx-1
                            //-                                 small 10 minute ago

                            //- .col-md-3.my-2
                            //-     a(href="/notes/")
                            //-         .card.shadow.border-0.rounded.h-100.wow.animate__animated.animate__fadeInUp.public-notes-item(data-id)
                            //-             .card-header.border-0
                            //-                 p.card-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            //-             //- img(src=thumbnails, alt="" height="200px").card-img-top.notes-thumbnails
                            //-             .card-body.border-0(style=`background-image:url(https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/109/1646982826920_5055_0.png);background-size:cover`).notes-thumbnails
                            //-             .card-footer.border-0
                            //-                 .row
                            //-                     .col-12
                            //-                         p.card-text.notes-details-text
                            //-                             span
                            //-                                 i.fa.fa-globe.mx-1
                            //-                                 small 100 views
                            //-                             span.mx-1
                            //-                                 i.fa.fa-file.mx-1 
                            //-                                 small 10 pages
                            //-                             span.mx-1
                            //-                                 i.fa.fa-clock-o.mx-1
                            //-                                 small 10 minute ago               
                    #pills-collection.tab-pane.fade(role='tabpanel' aria-labelledby='pills-collection-tab') 
                        .collections.border-0
                            ol.list-group.border-0.collections-rows.mx-auto
                                h1.text-center.mt-5.collection-loader
                                    i.fa.fa-spinner.fa-spin
                                h5.text-center.mt-5.no-public-collection.d-none
                                    i.fa.fa-info-circle.mx-1.text-warning
                                    span No Collections Created By User
                                //- li.list-group-item.d-flex.justify-content-between.align-items-start.border-0
                                //-     a(href="#") 
                                //-         .ms-2.me-auto
                                //-             .fw-bold  Subheading
                                //-             span Cras justo odio
                                //-     span.badge.bg-danger.rounded-pill 14
                                //- li.list-group-item.d-flex.justify-content-between.align-items-start.border-0
                                //-     a(href="#") 
                                //-         .ms-2.me-auto
                                //-             .fw-bold  Subheading
                                //-             span Cras justo odio
                                //-     span.badge.bg-danger.rounded-pill 14
                                //- li.list-group-item.d-flex.justify-content-between.align-items-start.border-0
                                //-     a(href="#") 
                                //-         .ms-2.me-auto
                                //-             .fw-bold  Subheading
                                //-             span Cras justo odio
                                //-     span.badge.bg-danger.rounded-pill 14




        include includes/footer
        script
            include ../public/javascripts/subpages/profile.js