doctype html
html(lang="en-US")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{profile.firstName} #{profile.lastName} | View profile on notes ocean
        meta(name="keywords",content=`${profile.firstName} ${profile.lastName},${profile.firstName} ${profile.lastName} notes, ${profile.firstName} ${profile.lastName} notes ocean , ${profile.firstName} ${profile.lastName} profile page, ${profile.firstName} ${profile.lastName} collections ,${profile.firstName} ${profile.lastName} pdf download, ${profile.firstName} ${profile.lastName} notes and collection pdf `)
        include includes/bootstrap
        meta(property='description' content=`View recent,top notes and collection of ${(profile.firstName)} ${(profile.lastName)} from notes ocean `)
        meta(property='og:title', content=`${(profile.firstName)} ${(profile.lastName)}`)
        meta(property='og:site_name' content='Notes Ocean')
        meta(property='og:url' content=`https://notesocean.com/profile/${(profile.id)}`)
        meta(property='og:description' content=`View recent,top notes and collection of ${(profile.firstName)} ${(profile.lastName)} from notes ocean `)
        meta(property='og:type' content='profile')
        meta(property='og:image' content=`${(profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/100x100/filters:format(webp)/filters:quality(100)"))}`)
        meta(name='twitter:card' content='summary')
        meta(name='twitter:site' content='@real_notesocean')
        meta(name='twitter:title' content=`${(profile.firstName)} ${(profile.lastName)}`)
        meta(name='twitter:description' content=`View recent,top notes and collection of ${(profile.firstName)} ${(profile.lastName)} rom notes ocean`)
        meta(name='twitter:image' content=`${(profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/100x100/filters:format(webp)/filters:quality(100)"))}`)

        script(type='application/ld+json').
            {
                "@context": "https://schema.org/",
                "@type": "Person",
                "name": "#{profile.firstName} #{profile.lastName}",
                "url": "https://notesocean.com/profile/#{profile.id}",
                "image": "#{profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/100x100/filters:format(webp)/filters:quality(100)")}" ,
                "jobTitle": "user",
                "worksFor": {
                "@type": "Organization",
                "name": "Notes ocean"
                }
            }
        style
            include ../public/stylesheets/subpages/profile.css

    body 
        header 
            include includes/navbar
        section.container-fluid
            .profile-box
                div.d-flex.justify-content-center.align-items-center
                    img(src=profile.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/250x250/filters:format(webp)/filters:quality(100)"), alt=`${(profile.firstName)} ${(profile.lastName)}`,width="200px" height="200px").profile-image
                div.my-3
                    center
                        h1.profile-name #{profile.firstName} #{profile.lastName}
            .content-box
                ul#pills-tab.nav.nav-pills.mb-3(role='tablist').d-flex.justify-content-center.mt-2
                    li.nav-item(role='presentation')
                        button#pills-notes-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-notes' type='button' role='tab' aria-controls='pills-notes' aria-selected='true') Notes
                    li.nav-item(role='presentation')
                        button#pills-collection-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-collection' type='button' role='tab' aria-controls='pills-collection' aria-selected='false') Collections
                #pills-tabContent.tab-content
                    #pills-notes.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-notes-tab') 
                        //-  show users notes 
                        .row.public-now-row
                            h1.text-center.mt-5.notes-loader
                                i.fa.fa-spinner.fa-spin
                            h5.text-center.mt-5.no-public-notes.d-none
                                i.fa.fa-info-circle.mx-1.text-warning
                                span No Public Notes Uploaded By User

                    #pills-collection.tab-pane.fade(role='tabpanel' aria-labelledby='pills-collection-tab') 
                        .collections.border-0
                            ol.list-group.border-0.collections-rows.mx-auto
                                h1.text-center.mt-5.collection-loader
                                    i.fa.fa-spinner.fa-spin
                                h5.text-center.mt-5.no-public-collection.d-none
                                    i.fa.fa-info-circle.mx-1.text-warning
                                    span No Collections Created By User
        include includes/footer
        script
            include ../public/javascripts/subpages/profile.js