doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="search result of "+query+" and "+data.size+" notes found")
        title #{query} | Notes Ocean
        include includes/bootstrap
        style
            include ../public/stylesheets/subpages/search.css
        //- ads script
        script(async='' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js')
        script.
            window.googletag = window.googletag || {cmd: []};
            googletag.cmd.push(function() {
            googletag.defineSlot('/22810108276/search-result-item-website', [[750, 100], [750, 300], [728, 90], [750, 200], [300, 250],[300,100]], 'div-gpt-ad-1661517698774-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
            });

    body 
        header
            include includes/navbar
        section.main-section
            .search-container
                -if(data.size > 0){
                    div.d-flex.justify-content-between
                    h1
                        span.text-danger #{data.size} 
                        span Notes Found
                    //- .filter-dropdown
                    //-     button.btn.btn-sm.btn-danger(data-bs-toggle="modal" data-bs-target="#modal-filter") filter
                div.search-item-row(itemscope itemtype="https://schema.org/BreadcrumbList")
                    - let count = 0;
                    - let ads = 0;
                    -for (let i = 0; i < data.requested.length; i++){
                        - count++;
                        - let productid = data.requested[i].uuid;
                        - let productname = data.requested[i].name;
                        - let timestamp = Number(data.requested[i].timestamp);
                        - let description = data.requested[i].description;
                        - let thumbnails = data.requested[i].thumbnails.replace("https://thumbnails.ncdn.in/","https://thumbnails.ncdn.in/fit-in/400x400/filters:format(webp)/filters:quality(100)/40x0:400x400/");
                        //- - let thumbnails = data.requested[i].thumbnails;
                        - var img1 = data.requested[i].thumbnails.split(",")[0].replace("https://thumbnails.ncdn.in", "https://thumbnails.ncdn.in/fit-in/320x240/filters:format(webp)/filters:quality(100)");

                        - var img2 = data.requested[i].thumbnails.split(",")[0].replace("https://thumbnails.ncdn.in", "https://thumbnails.ncdn.in/fit-in/480x360/filters:format(webp)/filters:quality(100)");

                        - var img3 = data.requested[i].thumbnails.split(",")[0].replace("https://thumbnails.ncdn.in", "https://thumbnails.ncdn.in/fit-in/800x480/filters:format(webp)/filters:quality(100)");

                        - let views = data.requested[i].views;
                        - let pages = data.requested[i].pages;
                        - let firstName = data.requested[i].users.firstName;
                        - let lastName = data.requested[i].users.lastName;
                        - let userid = data.requested[i].users.uuid;
                        - let profileImage = data.requested[i].users.profileImage == null ? "/images/dummy/user_dummy.jpg" :  data.requested[i].users.profileImage ;
                            div(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem").wow.animate__animated.fadeIn
                                a(href="/notes/"+productid,itemprop="item")
                                    div.d-flex.shadow.search-notes-item.my-3
                                        .flex-shrink-0
                                            img(src=thumbnails alt=productname loading="lazy").search-item-img.lozad
                                        .flex-grow-1.ms-4.search-notes-item-details
                                            #{showtitle}
                                            h2
                                                span(itemprop="name") #{productname.substring(0,100)}
                                            small #{description.substring(0,200)}
                                            div.d-flex.mt-3.text-muted
                                                small.ml-2
                                                    i.fa.fa-globe.mx-1
                                                    span #{views} views
                                                small.mx-2
                                                    i.fa.fa-file.mx-1
                                                    span #{pages} pages
                                                small.mx-2
                                                    i.fa.fa-clock.mx-1
                                                    span #{time.get(timestamp)}

                                            .creator-box
                                                a(href="/profile/"+userid)
                                                    .d-flex.align-items-center.justify-content-center
                                                        .flex-shrink-0
                                                            img(src=profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in/fit-in/720x250/filters:format(webp)/filters:quality(100)") alt=firstName).creator-img
                                                        .flex-grow-1.ms-2.pt-3
                                                            p.text-muted #{firstName} #{lastName}
                                meta(itemprop="position" content=count)
                        -if(count%3 == 0){
                            div
                                .ad_box
                        -}
                    -}
                -}else{
                    div.container.not-found-container
                        .row
                            .col-lg-6
                                img(src="/images/illustrations/notFound.svg")
                            .col-lg-6.d-flex.justify-content-center.align-items-center
                                div
                                    h1 Your search did not match any notes or collection
                                    b Hint:
                                    li 
                                        small Try less word or sentence
                                    li 
                                        small Try diffrent word or sentence 
                                    li 
                                        small Use correct spelled  sentence

                        div.request-info.mt-5.container
                            h3.text-danger But notes ocean never disappoint you, we will send your notes in 24 hours
                            p Submit your request, our notes ocean students will fulfill your notes requiremnt 
                            a.btn.btn-notesocean.text-light.btn-sm(href="/request/new") Request notes

                -}

                .modal#modal-filter
                    .modal-dialog.modal-dialog-centered
                        .modal-content.bg-white.border-0
                            .modal-header.bg-white.border-0
                                span Search Filter
                                i(class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                            .modal-body.bg-white.border-0
                                .row
                                    .col-md-4.mb-3
                                        h6.text-danger Type
                                        .form-check
                                            input#typefilter.form-check-input(type='radio' name='type' checked='true' value="notes")
                                            label.form-check-label(for='type') Notes 
                                        .form-check
                                            input#typefilter.form-check-input(type='radio' name='type' value="collection")
                                            label.form-check-label(for='type') Collection
                                    .col-md-4.mb-3
                                        h6.text-danger Pages
                                        .form-check
                                            input#pagesfilter.form-check-input(type='radio' name='pages' checked='true' value="default")
                                            label.form-check-label(for='page') Deafult
                                        .form-check
                                            input#pagesfilter.form-check-input(type='radio' name='pages' value="0")
                                            label.form-check-label(for='page') 1-10 page
                                        .form-check
                                            input#pagesfilter.form-check-input(type='radio' name='pages' value="1")
                                            label.form-check-label(for='page') 10-20 page
                                        .form-check
                                            input#pagesfilter.form-check-input(type='radio' name='pages' value="3")
                                            label.form-check-label(for='page') 20-100 page
                                    .col-md-4.mb-3
                                        h6.text-danger Upload Date
                                        .form-check
                                            input#datefilter.form-check-input(type='radio' name='date' checked='true' value="default")
                                            label.form-check-label(for='datefilter') All time
                                        .form-check
                                            input#datefilter.form-check-input(type='radio' name='date' value="today")
                                            label.form-check-label(for='datefilter') Today
                                        .form-check
                                            input#datefilter.form-check-input(type='radio' name='date' value="thisweek" )
                                            label.form-check-label(for='datefilter') This week
                                        .form-check
                                            input#datefilter.form-check-input(type='radio' name='date' value="thismonth")
                                            label.form-check-label(for='datefilter') This month
        script
            include ../public/javascripts/subpages/search.js

