doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Most Viewed | Notes Ocean
        meta(name="description",content=`view most viewed notes`)
        meta(name="keyword",content=`upsc,engineering,medical,management`)

        link(rel="canonical",href=`https://notesocean.com/notes/most-viewed`)

        meta(property='og:title', content=`Notes Ocean`)
        meta(property='og:site_name' content='Notes Ocean')
        meta(property='og:url' content=`https://notesocean.com/notes/most-viewed`)
        meta(property='og:description' content=`view most viewed notes`)
        meta(property='og:type' content='website')
        meta(property='og:image' content=`https://notesocean.com/logo.png`)

        meta(name='twitter:card' content='website')
        meta(name='twitter:site' content='@real_notesocean')
        meta(name='twitter:title' content=`Notes Ocean`)
        meta(name='twitter:description' content=`view most viewed notes`)
        include ../includes/bootstrap
        style
            include ../../public/stylesheets/notes/most-viewed.css
    body 
        header
            include ../includes/navbar
        section.most-viewd-notes.wow.animate__animated.animate__fadeInUp.main-section
            .container-fluid.py-5
                h1 Most Viewed Notes 
                .row
                    - for (let i = 0; i < data.requested.length;i++){
                        - let name = data.requested[i].product.name;
                        - let description = data.requested[i].product.description;
                        - let id = data.requested[i].product.id;
                        - let userId = data.requested[i].user.id;
                        - let thumbnails = data.requested[i].product.thumbnails.split(",")[0]
                        - let size = data.requested[i].product.size;
                        - let pages = data.requested[i].product.pages;
                        - let timestamp = timeService.get(data.requested[i].product.timestamp);
                        - let views = data.requested[i].product.views;
                        - let firstName = data.requested[i].user.firstName;
                        - let lastName = data.requested[i].user.lastName;
                        - let profileImage = data.requested[i].user.profileImage;
                        .col-md-6.col-lg-4.col-xl-3.mt-3
                            a(href="/notes/"+id)
                                .card.shadow.border-0
                                    .card-header #{name}
                                    .card-body.p-0
                                        img.card-img-top(src=thumbnails)
                                    .card-footer
                                        .notes-profile-cont
                                            a(href="/profile/"+userId)
                                                img(src=profileImage alt="user image ").notes-cont-profile-pic
                                                span.text-muted  #{firstName}  #{lastName}
                                        .notes-cont-info.d-flex.justify-content-between.text-muted.mt-2
                                            small
                                                i.fa.fa-globe 
                                                span  #{views} Views
                                            small
                                                i.fa.fa-file 
                                                span  #{pages} pages 
                                            small
                                                i.fa.fa-clock
                                                span  #{timestamp}
                    -}
                    //- .col-md-6.col-lg-4.col-xl-3.mt-3
                    //-     a(href="#")
                    //-         .card.shadow.border-0
                    //-             .card-header Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, reprehenderit.
                    //-             .card-body.p-0
                    //-                 img.card-img-top(src="https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png")
                    //-             .card-footer
                    //-                 .notes-profile-cont
                    //-                     a(href="#")
                    //-                         img(src="https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com/112/1648464247150_112.jpg" alt="user image ").notes-cont-profile-pic
                    //-                         span.text-muted  Sachin Kumar 
                    //-                 .notes-cont-info.d-flex.justify-content-between.text-muted.mt-2
                    //-                     small
                    //-                         i.fa.fa-globe 
                    //-                         span  100 Views
                    //-                     small
                    //-                         i.fa.fa-file 
                    //-                         span  100 pages 
                    //-                     small
                    //-                         i.fa.fa-clock
                    //-                         span  100 Minutes ago
                    //- .col-md-6.col-lg-4.col-xl-3.mt-3
                    //-     a(href="#")
                    //-         .card.shadow.border-0
                    //-             .card-header Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, reprehenderit.
                    //-             .card-body.p-0
                    //-                 img.card-img-top(src="https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png")
                    //-             .card-footer
                    //-                 .notes-profile-cont
                    //-                     a(href="#")
                    //-                         img(src="https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com/112/1648464247150_112.jpg" alt="user image ").notes-cont-profile-pic
                    //-                         span.text-muted  Sachin Kumar 
                    //-                 .notes-cont-info.d-flex.justify-content-between.text-muted.mt-2
                    //-                     small
                    //-                         i.fa.fa-globe 
                    //-                         span  100 Views
                    //-                     small
                    //-                         i.fa.fa-file 
                    //-                         span  100 pages 
                    //-                     small
                    //-                         i.fa.fa-clock
                    //-                         span  100 Minutes ago
                    //- .col-md-6.col-lg-4.col-xl-3.mt-3
                        a(href="#")
                            .card.shadow.border-0
                                .card-header Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, reprehenderit.
                                .card-body.p-0
                                    img.card-img-top(src="https://s3.ap-south-1.amazonaws.com/thumbnails.notesocean.com/112/1647064353819_6038_0.png")
                                .card-footer
                                    .notes-profile-cont
                                        a(href="#")
                                            img(src="https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com/112/1648464247150_112.jpg" alt="user image ").notes-cont-profile-pic
                                            span.text-muted  Sachin Kumar 
                                    .notes-cont-info.d-flex.justify-content-between.text-muted.mt-2
                                        small
                                            i.fa.fa-globe 
                                            span  100 Views
                                        small
                                            i.fa.fa-file 
                                            span  100 pages 
                                        small
                                            i.fa.fa-clock
                                            span  100 Minutes ago

        include ../includes/footer