doctype html
html(lang="en")
    head
        //- main meta's
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description",content=`${(data.products.description.substring(0,145))}`)
        meta(name="keyword",content=`${(data.products.tags)}`)
        meta(name="author",content=`${(data.products.users.firstName)} ${(data.products.users.firstName)}`)
        title #{data.products.name.substring(0,40)} | Notes ocean

        //-  og 
        meta(property='og:title' content=`${(data.products.name.substring(0,40))}`)
        meta(property='og:site_name' content='Notes ocean')
        meta(property='og:url' content=`https://notesocean.com/notes/${(data.products.uuid)}`)
        meta(property='og:description' content=`${(data.products.description.substring(0,145))}`)
        meta(property='og:type' content='product.item')
        meta(property='og:image' content=`${(data.products.thumbnails.split(",")[0])}`)

        //- twitter card
        meta(name='twitter:card' content='summary')
        meta(name='twitter:site' content='@real_notesocean')
        meta(name='twitter:title' content=`${(data.products.name.substring(0,40))}`)
        meta(name='twitter:description' content=`${(data.products.description.substring(0,145))}`)
        meta(name='twitter:image' content=`${(data.products.thumbnails)}`)
        script(type="application/ld+json").
            {
                "@context": "https://schema.org",
                "@type": "Article",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "https://notesocean.com/notes/#{data.products.uuid}"
                },
                "headline": "#{data.products.name}",
                "description": "#{data.products.description}",  
                "image": "#{data.products.thumbnails.split(",")[0]}" ,
                "author": {
                    "@type": "Person",
                    "name": "#{data.products.users.firstName} #{data.products.users.lastName}",
                    "url": "https://notesocean.com/profile/#{data.products.users.uuid}"
                },
                "publisher": {
                    "@type": "Organization",
                    "name": "Notes Ocean",
                    "logo": {
                    "@type": "ImageObject",
                    "url": "https://notesocean.com/logo.png"
                    }
                }
            }
        include ../includes/bootstrap
        style
            include ../../public/stylesheets/subpages/product.css
        link(rel="stylesheet" href="https://static.ncdn.in/vendor/sheron/shareon.min.css")
        style 
            include ../../public/stylesheets/loader.css
        link(href='https://fonts.googleapis.com/css2?family=Nixie+One&display=swap' rel='stylesheet')
        style.
            .prod-desc{
                font-family: 'Nixie One', cursive !important;
            }
    body
        header
            include ../includes/navbar
        section.main-section-top
            .main-content-box
                .card.border-0.p-0.shadow
                    .card-header.border-0.shadow.border-0
                        h1.card-title=data.products.name
                        p.prod-desc=data.products.description
                    .card-body.border-0.p-0.pdf-cont
                        #pdfShow.active(data-url=data.products.file, data-name=data.products.name data-client=clientid)
                .card.shadow.info-bar.border-0
                    .row.px-2.info-row.mt-3
                        .col-md-4.py-2
                            p.card-text.notes-details-text.text-muted
                                span
                                    i.fa.fa-globe.mx-1
                                    small #{data.products.views} views
                                span.mx-1
                                    i.fa.fa-file.mx-1 
                                    small #{data.products.pages} pages
                                span.mx-1
                                    i.fa.fa-clock.mx-1
                                    small #{timeService.get(data.products.timestamp)}
                        .col-md-8
                            .icon-group.d-flex.justify-content-end.text-muted
                                - if(data.reacts != null && data.reacts.react == "LIKE"){
                                    .icon-item.mx-3.text-center.react-btn.active(data-action="LIKE" , title=`You  liked this note ${(timeService.get(data.reacts.timestamp))}` aria-label="like",data-default=data.products.likes)
                                        i.fa.fa-thumbs-up.mx-1
                                        span.mx-1.icon-text Like
                                        span.react-count #{data.products.likes}
                                - }
                                - else{
                                .icon-item.mx-3.text-center.react-btn(data-action="LIKE",data-default=data.products.likes)
                                    i.fa.fa-thumbs-up.mx-1
                                    span.mx-1.icon-text Like
                                    span.react-count #{data.products.likes}
                                - }

                                - if (data.reacts != null && data.reacts.react == "DISLIKE"){
                                .icon-item.mx-3.text-center.mx-1.react-btn.active(data-action="DISLIKE",data-default=data.products.dislikes,title=`You  disliked this note ${(timeService.get(data.reacts.timestamp))}` aria-label="dislike")
                                    i.fa.fa-thumbs-down
                                    span.mx-1.icon-text Dislike
                                    span.react-count #{data.products.dislikes}
                                - }
                                -else{
                                .icon-item.mx-3.text-center.mx-1.react-btn(data-action="DISLIKE",data-default=data.products.dislikes)
                                    i.fa.fa-thumbs-down
                                    span.mx-1.icon-text Dislike
                                    span.react-count #{data.products.dislikes}
                                -}

                                .icon-item.mx-3.text-center( aria-label="comments").comment-btn
                                    i.fa.fa-comment.mx-1 
                                    span.mx-1.icon-text Comments
                                    span.comment-length
                                .icon-item.mx-3.text-center.report-btn
                                    i.fa.fa-flag.mx-1
                                    span.icon-text Report
                                .icon-item.mx-3.text-center.share-btn
                                    i.fa.fa-share.mx-1
                                    span.icon-text Share
                                .icon-item.mx-3.text-center.info-button
                                    i.fa.fa-info-circle.mx-1
                                    span.icon-text Info
                        .col-12
                            a(href=`/profile/${data.products.users.uuid}`)
                                .d-flex.justify-content-start.align-items-center
                                    img(src=data.products.users.profileImage.replace("https://s3.ap-south-1.amazonaws.com/profiles.notesocean.com", "https://profiles.ncdn.in") alt=data.products.users.firstName).user-image
                                    span.mx-1 #{data.products.users.firstName} #{data.products.users.lastName}
                        .col-12.mt-3
                            #commentbox.collapse
                                .card.card-body.p-0.border-0.commnet-form.d-none
                                    .input-group
                                        button.btn.btn-sm(type='button').p-0.px-1
                                            img(src="/images/dummy-user.jpeg" alt="" style="width:35px;height:35px;border-radius:50%").commentator-user-img
                                        input(type="text" placeholder="Type somthing .....").form-control.commentbox-input
                                        button.btn.btn-sm.btn-notesocean.comment-add-btn(type='button') Comment
                                    .container.px-5
                                        label.comment-error-notice
                                .card.card-body.p-0.border-0.text-center.d-none.user-not-login
                                    h6 You can't comment, login to your account and continue comment
                                    div
                                        a(href="/account/login?dest=/notes/"+data.products.uuid+"#comment").btn.btn-sm.btn-primary Login 
                                .card.my-3.border-0.px-2.commentbox-container

            .share-modal.modal
                .modal-dialog.modal-dialog-centered
                    .modal-content.border-0
                        .modal-header.border-0.d-flex.justify-content-end.p-1
                            i.close.fa.fa-times(data-bs-dismiss='modal' aria-label='Close')
                        .modal-body.border-0
                            div.text-center
                                h4.modal-title Share this note!
                                p Share this note with your friends and classamte!
                            .shareon.d-flex.justify-content-center
                                a.facebook 
                                a.linkedin
                                button.reddit
                                button.telegram
                                button.twitter
                                button.whatsapp
            .info-modal.modal#infoModal
                .modal-dialog.modal-dialog-centered
                    .modal-content.border-0
                        .modal-header.border-0.d-flex.justify-content-end.p-2
                            i.close.fa.fa-times(data-bs-dismiss='modal' aria-label='Close')
                        .modal-body.border-0
                            div
                                h4.modal-title Information
                            p Notes Ocean is not holding any copyright on the content of the notes. All the content is owned by the user who uploaded. We are not responsible any copyrighted content. We are just a platform to help you share your notes. we regularly monitor the user uploaded notes and delete the notes if  we find any copyright infringement.
                            p If you have any questions or suggestions, please feel free to contact us at 
                                a(href="mailto:contact@notesocean.com") contact@notesocean.com 
                                span or report 
                                a(href="/report/"+data.products.uuid) here
                            //- div.switcher.mt-2
                            //-     p If you are facing any problem  with pdf viewer  , switch to
                            //-         -if(view=="default"){
                            //-             a(href=`/notes/${data.products.uuid}`).btn.btn-notesocean.btn-sm.mx-1
                            //-                 i.fa.fa-repeat.mx-1
                            //-                 span Standard
                            //-         -}else{
                            //-             a(href=`/notes/${data.products.uuid}?viewer=default`).btn.btn-notesocean.btn-sm.mx-1
                            //-                 i.fa.fa-repeat.mx-1
                            //-                 span Classic
                            //-         -}


            .report-modal.modal(tabindex="1")
                .modal-dialog.modal-dialog-centered            
                    .modal-content.border-0
                        .modal-header.border-0.display-flex
                            div(style="flex-direction:column;")
                                h5.modal-title Report
                                p Reporting note will help us to improve us to provide a valid notes.
                                small If you are business,orginazation or valid copyright holder please report 
                                    a(href="/report/"+data.products.uuid) here
                            span.btn-close.btn-sm(type='button' data-bs-dismiss='modal' aria-label='Close')
                        -if(token.length > 20){
                            .modal-body.border-0
                                h6 Choose Subject 
                                .container.py-0
                                    form.report-form
                                        .form-check
                                            input#report.form-check-input(type='radio' name='subject' value='False Information',required)
                                            label.form-check-label(for='report') False Information
                                        .form-check
                                            input#report.form-check-input(type='radio' name='subject' value='Spam or misleading',required)
                                            label.form-check-label(for='report') Spam or misleading 
                                        .form-check
                                            input#report.form-check-input(type='radio' name='subject' required value='Sexual/ Violent / Hateful or abusive ')
                                            label.form-check-label(for='report')  Sexual/ Violent / Hateful or abusive 
                                        .form-check
                                            input#report.form-check-input(type='radio' name='subject' required value='Copyrighted/Trademark or other legal issue')
                                            label.form-check-label(for='report')  Copyrighted/Trademark or other legal issue
                                        .form-group
                                            label Message
                                            textarea.form-control(rows="5" cols="10",,name="message",required).rounded-0  
                                        button.btn.btn-notesocean.my-3.report-btn-modal Report
                                -}
                        -if(token.length < 20){
                            .modal-body.border-0.text-center
                                h4.text-danger You need to login to report!
                                div.my-3
                                    a(href="/account/login?dest=/notes/"+data.products.uuid+"#report").btn.btn-sm.btn-notesocean Login
                        -}  

            .user-not-login-modal.modal
                .modal-dialog.modal-dialog-centered
                    .modal-content.border-0
                        .modal-header.border-0
                            //- h6 Login 
                            button.btn-close.btn-sm(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body.border-0.text-center
                            p You are not logged in , please login and continue
                            a(href="/account/login?dest=/notes/"+data.products.uuid).btn.btn-sm.btn-notesocean Login
            #adsModal.modal(data-bs-backdrop="static" data-bs-keyboard="false")
                .modal-dialog.modal-fullscreen
                    .modal-content
                        .modal-header.border-0
                            h5.modal-title Advertisement
                        .modal-body
                            .container
                                ins.adsbygoogle(
                                style="display:block"
                                data-ad-client="ca-pub-3834928493837917"
                                data-ad-slot="8600546453"
                                data-ad-format="auto"
                                data-full-width-responsive="true")
                        .modal-footer.text-center.d-flex.justify-content-center.border-0
                            strong Please wait ..
                            span
                                i.fa.fa-spinner.fa-spin.mx-1
                                span Pdf is loading...
                    
            
        script(src="https://documentcloud.adobe.com/view-sdk/main.js")
        script
            include ../../public/javascripts/notes/viewer.js
        include ../includes/footer
        script(src="https://static.ncdn.in/vendor/sheron/shareon.iife.js")
        script
            include ../../public/javascripts/subpages/products.js
